.form-signin {
    max-width: 350px;
}
.error {
    color: red;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
.categories-list .card {
    transition-duration: 0.5s;
}
.categories-list a {
    text-decoration: none;
}
.categories-list .card:hover {
    background-color: antiquewhite;
    transform: scale(1.1);
}

.categories-list .imageFormat{
    overflow: hidden;
    position: relative;
    padding: 0 0 100.3% 0;
}

.categories-list .imageFormat img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.img-size {
    width: 600px;
    height: 430px;
}
.img-size-small {
    width: 200px;
    height: 150px;
}

.input-block{
    display: block;
    margin-bottom: 10px;
    width: 400px;
}
.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.search-btn
{
    margin-left: 3px;
    width: 38px;
    height: 38px;
}